/* General Style */

html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

*, 
*:before,
*:after {
    box-sizing: inherit;
}
body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    margin: 0;
    padding: 0;
}

button {
    margin: 2px;
    padding: 0;
    border: grey 1px solid;
    border-radius: 10%;
    height: 80px;
    font-size: 32px;
}
/* Calculator */

.wrapper {
    border: 3px solid black;
    box-shadow:black .5em .5em 1.5em ;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: lightgrey;
    width: 370px;
}


/* Display */

.display {
    background-color: black;
    color: white;
    font-size: 48px;
    height: 50px;
    margin: .20em .2em 0 .2em;
    padding-right: .1em;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Input */
button:not(.equal):not(.operator):active {
    opacity: 40%;
}

.inputs {
    margin: .5em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.row {
    order: 0;
    display: flex;
    justify-content: stretch;
}

.row-five {
    order: -1;
}

.row-five * {
    flex: 1;
    background-color: rgb(192, 190, 190);
}

.number {
    flex: 1;
    background-color: rgb(154, 240, 240);
}

.operator {
    flex: 1;
    background-color: rgb(64, 173, 224, 80%);
}
.operatorSelected {
    background-color: teal;
}

.row-four * {
    flex: 1;
}

.equal {
    background-color: rgb(64, 173, 224, 80%);
}

.decimal {
    font-size: 46px;
    background-color: rgb(154, 240, 240);
}



.zero {
    flex: 2;
}


